---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Announcement from "../components/Announcement.astro";
---

<Layout title="404 | WTF is Jamstack?">
  <Announcement />
  <Header />
  <main>
    <div class="max-w-3xl mx-6 font-light md:mx-32">
      <h2 class="pb-12 text-2xl">404 - Page not found!</h2>
      <p class="mb-6 text-2xl md:text-4xl">
        Sorry, but the page you were looking for could not be found.
      </p>
      <p class="mb-6">
        <a
          title="Read more about CDN"
          href="/"
          class="text-xl text-white border-b border-white hover:text-neutral-500"
        >
        &larr; You can return to our front page
        </a>
      </p>
    </div>
  </main>
  <footer class="mb-8 ml-32 text-neutral-400">&copy; 2024 Jamstack.wtf</footer>
</Layout>
