---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Banner from "../components/Banner.astro";
import TableOfContents from "../components/TableOfContents.astro";
import WhatIsJamstack from "../components/WhatIsJamstack.astro";
import GettingStarted from "../components/GettingStarted.astro";
import Resources from "../components/Resources.astro";
import About from "../components/About.astro";
---

<Layout title="WTF is Jamstack?">
  <Header />
  <Banner />
  <main>
    <Intro />
    <TableOfContents />
    <div>
      <WhatIsJamstack />
      <GettingStarted />
      <Resources />
    </div>
    <About />
  </main>
  <footer class="ml-32 mb-8 text-neutral-400">
    &copy; 2023
  </footer> 
</Layout>
