<div class="px-6 pt-16 pb-24 mb-16 bg-red-400 about md:px-32">
  <h2 id="about" class="pb-12 text-xl">About</h2>
  <div class="max-w-3xl">
    <p class="pb-12 text-xl md:text-2xl ">
      This project was originally built by
      <a href="https://twitter.com/peduarte">@peduarte</a>
      and presented at the
      <a href="https://www.meetup.com/Jamstack-London/events/257961818/">
        Jamstack meetup
      </a>
      in London. The project is supported by
      <a href="https://www.netlify.com/">Netlify</a>.
    </p>
    <p class="pb-12 text-xl md:text-2xl">
      The goal of this project is to gather the concept of Jamstack in a
      straight-forward way to encourage other developers to adopt the workflow.
    </p>
    <p class="pb-12 text-xl md:text-2xl">
      Built with the help of
      <a href="https://www.astro.build/">Astro</a>,
      <a href="https://tailwindcss.com/">Tailwind CSS</a>,
      <a href="https://www.netlify.com/">Netlify</a>, and
      <a href="https://github.com/stackbit/jamstack-wtf">GitHub</a>.
    </p>
    <p class="text-xl md:text-2xl">Jamstack.</p>
  </div>
</div>
