<a href="https://www.youtube.com/watch?v=wwsMsolPrtw" class="block p-2 text-sm font-bold text-center bg-red-400 md:py-2 text-neutral-900">
  Jamming on the Jamstack with Matt Biilmann and Mike Neumegen — <span class="underline hover:no-underline">Watch live!</span>
</a>