<a href="https://developers.netlify.com/guides/?ref=jamstack-wtf" class="block p-2 text-sm font-bold text-center bg-teal-300 md:py-2 text-neutral-900">
  Guides and examples for web developers — <span class="underline hover:no-underline">Learn more!</span>
</a>