<a href="https://developers.netlify.com/guides/?ref=wtf&utm_source=jamstack-wtf&utm_medium=referral&utm_campaign=jamstack-wtf" class="block p-2 text-sm font-bold text-center bg-teal-300 md:py-2 text-neutral-900">
  Introducing the Netlify Developer Hub — <span class="underline hover:no-underline">Learn more!</span>
</a>