<div class="max-w-3xl mx-6 mb-12 md:mx-32">
  <a href="https://www.netlify.com/?ref=jamstack-wtf" target="_blank" rel="noopener">
    <img width="100%" src="/netlify-banner.png" alt="Netlify banner" />
  </a>
</div>