<div class="max-w-3xl mx-6 md:mx-32 mb-12">
  <a
    href="https://create.netlify.com/?ref=wtf&utm_source=jamstack-wtf&utm_medium=referral&utm_campaign=jamstack-wtf"
  >
    <img width="100%" src="/sb-small-banner.svg" />
  </a>
</div>