<div class="max-w-3xl mx-6 mb-12 md:mx-32">
  <a
    href="https://www.netlify.com/platform/create/?ref=wtf&utm_source=jamstack-wtf&utm_medium=referral&utm_campaign=jamstack-wtf"
  >
    <img width="100%" src="/sb-small-banner.svg" />
  </a>
</div>