<div class="max-w-3xl mx-6 mb-12 md:mx-32">
  <a href="https://www.netlify.com/compose/?ref=jamstack-wtf" target="_blank" rel="noopener">
    <img width="100%" src="/compose-banner.svg" alt="Netlify Compose Conference" />
  </a>
</div>