<div class="light bg-white text-neutral-950 pt-16 ">
  <div class="mx-6 md:mx-32 max-w-3xl pt-16 pb-24">

    <h2
      id="getting-started"
      class="pb-6 mb-12 text-3xl border-b-2 border-neutral-600"
    >
      Getting started
    </h2>

      <h3 id="development" class="pb-12 text-xl uppercase font-bold">
        Development
      </h3>

      <p class="md:text-2xl">
        However you decide to generate your HTML assets is up to you. The three
        most common approaches are:
      </p>

    <div class="md:pl-16">
        <h4>Hand coding</h4>
        <p class="text-neutral-500">
          Simple and effective method of writing HTML, it's ideal for super
          simple pages.
        </p>

        <h4>Static Site Generators</h4>
        <p class="text-neutral-500">
          Most Jamstack sites are powered by a static site generator. There's no
          enforcement on which SSG you decide to use.
        </p>
        <ul class="text-neutral-500 pl-0">
          <li>
            <a title="Next.js" href="https://nextjs.org/">Next.js</a>
          </li>
          <li>
            <a title="Next.js" href="https://astro.build/">Astro.js</a>
          </li>
          <li>
            <a title="Gatsby" href="https://www.gatsbyjs.com/">Gatsby</a>
          </li>
          <li>
            <a title="Hugo" href="https://gohugo.io/">Hugo</a>
          </li>
        </ul>
        <div class="mt-14 mb-24">
          <a href="https://jamstack.org/generators/" class="border-b border-neutral-400 text-neutral-500 text-xl">See more SSGs</a>
        </div>

        <h4 class="py-6">Site Builders</h4>
        <p>
          Tools that bring Jamstack to less technical users, while enabling
          developers to customize sites through modern tooling.
        </p>
        <ul class="text-neutral-500 pl-0">
          <li>
            <a title="Stackbit" href="https://www.stackbit.com/">Stackbit</a>
          </li><li>
            <a title="Builder.io" href="https://www.builder.io/">Builder.io</a>
          </li><li>
            <a title="CloudCannon" href="https://cloudcannon.com/"
              >CloudCannon</a
            >
          </li>
        </ul>
    </div>

    <hr />

    <h3 id="deployment" class="pb-12 text-xl uppercase font-bold">
      Deployment
    </h3>
    <p class="md:text-2xl">
      Your built site needs to be hosted somewhere. There are great services
      that provide this for free and with ease.
    </p>
    <div class="md:pl-16">
      <ul class="text-neutral-500 pl-0">
        <li>
          <a title="Netlify" href="https://www.netlify.com/">Netlify</a>
        </li>
        <li>
          <a title="Vercel" href="https://vercel.com/">Vercel</a>
        </li>
        <li>
          <a title="Github Pages" href="https://pages.github.com/">Github Pages</a>
        </li>
        <li>
          <a title="Digital Ocean" href="https://www.digitalocean.com/">Digital Ocean</a>
        </li>
        <li>
          <a
            title="Azure Static Web Apps"
            href="https://azure.microsoft.com/en-us/services/app-service/static/"
            >Azure Static Web Apps
          </a>
        </li>
      </ul>
    </div>

    <div class="mt-14 mb-24">
      <a href="https://www.tnd.dev/tools/hosting-deployment/" class="border-b border-neutral-400 text-neutral-500 md:ml-16 text-xl">See more deployment services</a>
    </div>

    <hr />

    <div data-part-id="container">
      <h3 id="dynamic-parts" class="pb-12 text-xl uppercase font-bold">
        Dynamic parts
      </h3>
      <p class="md:text-2xl">
        Jamstack websites don't have to be static. There are great services
        available to help bring some dynamic data to your product.
      </p>

      <div class="md:pl-16">
        <h4>Custom functions</h4>
        <p>You can also abstract your own functions into reusable APIs.</p>
        <ul class="text-neutral-500 pl-0">
          <li>
              <a
                title="AWS lambda functions"
                href="https://aws.amazon.com/lambda/features/"
                >AWS lambda functions</a
              >
          </li><li>
              <a
                title="Netlify Functions"
                href="https://functions.netlify.com/examples/"
                >Netlify Functions</a
              >
          </li>
        </ul>
        
        <h4>Custom data</h4>

        <p>
          As you add features to your site, you may want to store user profiles,
          shopping cart data, game levels, or other dynamic data. There are many
          DBaaS (database as a service) tools out there today.
        </p>

        <ul class="text-neutral-500 pl-0">
          <li>
              <a title="Fauna" href="https://fauna.com/">Fauna</a>
          </li><li>
              <a title="Hasura" href="https://hasura.io/">Hasura</a>
          </li><li>
              <a
                title="MongoDB Atlas"
                href="https://www.mongodb.com/cloud/atlas">MongoDB Atlas</a
              >
          </li><li>
              <a title="AWS DynamoDB" href="https://aws.amazon.com/dynamodb/"
                >AWS DynamoDB</a
              >
          </li>
        </ul>
        
        <h4>Comments</h4><p>
          Many Jamstack products have dynamic comment sections. These are
          typically used on blogs.
        </p>
        <ul class="text-neutral-500 pl-0">
          <li>
            <a
              title="Staticman"
              href="https://github.com/eduardoboucas/staticman">Staticman</a
            >
          </li><li>
            <a title="Disqus" href="https://disqus.com/">Disqus</a>
          </li>
        </ul>
        
        <h4>Forms</h4>
        
        <p>
          A great way to interact with your audience. Tools like Netlify support
          this by default, though there are other form-based services.
        </p>
        <ul class="text-neutral-500 pl-0">
          <li>
            <a
              title="Netlify Forms"
              href="https://www.netlify.com/products/forms/">Netlify Forms</a
            >
          </li><li>
            <a title="Getform" href="https://getform.io/">Getform</a>
          </li><li>
            <a title="FormKeep" href="https://formkeep.com/">FormKeep</a>
          </li>
        </ul><h4>E-Commerce</h4><p>
          Setting up an online store on the Jamstack has never been easier.
        </p><ul class="text-neutral-500 pl-0">
          <li>
            <a
              title="Shopify"
              href="https://www.shopify.com/plus/solutions/headless-commerce"
              >Shopify</a
            >
          </li><li>
            <a title="Snipcart" href="https://snipcart.com/">Snipcart</a>
          </li><li>
            <a title="Commerce Layer" href="https://commercelayer.io/"
              >Commerce Layer</a
            >
          </li>
        </ul>
        <h4>Search</h4>
        <p>
          Rely on third party services to integrate a search functionality.
        </p>
        <ul class="text-neutral-500 pl-0">
          <li>
            <a title="Algolia" href="https://www.algolia.com/">Algolia</a>
          </li>
          <li>
            <a title="fuse.js" href="https://fusejs.io/">fuse.js</a>
          </li>
          <li>
            <a title="Lunr.js" href="https://lunrjs.com/">Lunr.js</a>
          </li>
        </ul>
      </div>

      <div class="mt-14 mb-24">
        <a href="https://github.com/agarrharr/awesome-static-website-services" class="border-b border-neutral-400 text-neutral-500 md:ml-16 text-xl">
          See more static services
        </a>
      </div>

      <hr />

    </div>
    <div>
      <h3 id="cms" class="pb-12 text-xl uppercase font-bold">CMS</h3>
      <p class="md:text-2xl">
        Jamstack sites can also be controlled via a Content Management System,
        these are typically known as Headless CMS. Once a change in the CMS is
        made, a new build of your site will be triggered and then deployed as
        static assets.
      </p>
      <div class="md:pl-16 mb-14">
      <ul class="text-neutral-500 pl-0">
        <li>
          <a title="Netlify CMS" href="https://www.netlifycms.org/"
            >Netlify CMS</a
          >
        </li><li>
          <a title="Contentful" href="https://www.contentful.com/">Contentful</a
          >
        </li><li>
          <a
            title="Headless WordPress"
            href="https://developer.wordpress.org/rest-api/"
            >Headless WordPress</a
          >
        </li><li>
          <a title="Ghost" href="https://ghost.org/docs/content-api/">Ghost</a>
        </li><li>
          <a title="Strapi" href="https://strapi.io/">Strapi</a>
        </li>
        <li>
          <a title="Sanity" href="https://www.sanity.io/">Sanity.io</a>
        </li><li>
          <a title="Kontent" href="https://kontent.ai/">Kontent</a>
        </li><li>
          <a title="GraphCMS" href="https://graphcms.com/">GraphCMS</a>
        </li><li>
          <a title="TakeShape" href="https://www.takeshape.io/">TakeShape</a>
        </li>
      </ul>
      </div>
      <div class="mt-14 mb-24">
        <a href="https://jamstack.org/headless-cms/" class="border-b border-neutral-400 text-neutral-500 md:ml-16 text-xl">See more CMS services</a>
      </div>
    </div>
  </div>
</div>
