<header class="flex flex-wrap justify-between mx-6 md:mx-32 mt-12 mb-12 md:mb-24 items-center">
  <h1 class="text-xl">
    Jamstack <span class="text-neutral-500">WTF</span>
  </h1>
  <p class="leading-loose pb-0">
    Create a new Jamstack site in 60 seconds
    <a
      href="https://jamstack.new"
      title="Create Jamstack site"
      class="inline-flex px-4 py-1  text-neutral-900 bg-red-400 hover:bg-white md:ml-4">jamstack.new
    </a>
  </p>
</header>
