<header class="flex flex-wrap items-center justify-between mx-6 mt-12 mb-12 md:mx-32 md:mb-24">
  <h1 class="text-xl">
    Jamstack <span class="text-neutral-500">WTF</span>
  </h1>
  <p class="pb-0 leading-loose">
    Create a new Jamstack site in 60 seconds
    <a
      href="https://create.netlify.com/create/theme/?ref=wtf&utm_source=jamstack-wtf&utm_medium=referral&utm_campaign=jamstack-wtf"
      title="Create Jamstack site"
      class="inline-flex px-4 py-1 bg-red-400 text-neutral-900 hover:bg-white md:ml-4">jamstack.new
    </a>
  </p>
</header>

