<div class="max-w-3xl mx-6 font-light md:mx-32">
  <p class="mb-12 text-2xl md:text-4xl">
    Jamstack has revolutionized the way we think about building for the web
    by providing a <strong>simpler developer experience</strong>, <strong>better performance</strong>, <strong>lower
    cost</strong> and <strong>greater scalability</strong>.
  </p>
  <p class="mb-6 text-2xl md:text-4xl">
    This simple guide will help you understand why it exists and how to get
    started.
  </p>
</div>