<div class="max-w-3xl pt-24 pb-32 mx-6 dark md:mx-32">
  <h2 id="resources" class="pb-6 mb-12 text-3xl border-b-2 border-neutral-600">
    Resources
  </h2>
    <p class="md:text-2xl">
      Here's a list of hand-picked Jamstack resources ranging from learning
      materials to third party services.
    </p>
    <div class="md:pl-16">

      <h4>Events</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://cfe.dev/events/the-jam-2024/">
            TheJam.dev 2024
          </a>
        </li>
        <li>
          <a href="https://www.netlify.com/conference/">
            Compose Conference
          </a>
        </li>
      </ul>
      
      <h4>Services</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://github.com/agarrharr/awesome-static-website-services">
          Awesome Static Website Services
          </a>
        </li>
        <li>
          <a href="https://jamstack.org/headless-cms/">
            A List of Content Management Systems for Jamstack Sites
          </a>
        </li>
        <li>
          <a href="https://jamstack.org/generators/">
            A List of Static Site Generators for Jamstack Sites
          </a>
        </li>
        <li>
          <a href="https://jamstackthemes.dev/">
            A List of Themes and Starters for Jamstack Sites
          </a>
        </li>
        <li>
          <a href="https://www.tnd.dev/tool/">
            A curated collection of tools and services
          </a>
        </li>
      </ul>

      <h4>Articles</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://www.epicweb.dev/why-i-wont-use-nextjs">
            Why I Won't Use Next.js
          </a>
        </li>
        <li>
          <a href="https://chringel.dev/blog/2023/10/migrating-from-hugo-to-eleventy-11ty/">
            Migrating from Hugo to Eleventy (11ty)
          </a>
        </li>
        <li>
          <a href="https://snipcart.com/blog/jamstack">
            New to Jamstack? Everything You Need to Know to Get Started
          </a>
        </li>
        <li>
          <a href="https://www.quora.com/What-is-the-concept-behind-JAMstack">
            What is the concept behind Jamstack
          </a>
        </li>
        <li>
          <a href="https://bejamas.io/blog/jamstack-ecosystem/">
            Jamstack ecosystem
          </a>
        </li>
        <li>
          <a href="https://bejamas.io/blog/jamstack/">
            Jamstack modern web development
          </a>
        </li>
        <li>
          <a href="https://www.netlify.com/blog/2017/03/16/smashing-magazine-just-got-10x-faster/">
            Smashing Magazine just got 10x faster
          </a>
        </li>
        <li>
          <a href="https://ghost.org/changelog/jamstack/">
            Ghost on the Jamstack
          </a>
        </li>
        <li>
          <a href="https://medium.com/netlify/jamstack-with-gatsby-netlify-and-netlify-cms-a300735e2c5d">
            Jamstack with Gatsby, Netlify and Decap CMS
          </a>
        </li>
      </ul>

      <h4>Videos</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://www.netlify.com/conference/">
            Netlify Compose Conference 2023
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/playlist?list=PL58Wk5g77lF-s9uXrQgEo0Z9FQWBzoKXT">
            Jamstack Conf 2022
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=uWTMEDEPw8c">
            The Rise of the Jamstack talk by Mathias Biilmann
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/163522126">
            The New Front-end Stack talk by Mathias Biilmann
          </a>
        </li>
        <li>
          <a href="https://www.tnd.dev/video/">
            The New Dynamic curated videos
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=e5H7CI3yqPY">
            How freeCodeCamp Serves Millions of Learners Using the Jamstack
          </a>
        </li>
      </ul>

      <h4>Books</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://www.amazon.com/Eleventy-Example-powerful-performant-static-first-ebook/dp/B0BTPQW42M/">
            Eleventy by Example (Packt Publishing, 2023)
          </a>
        </li>
        <li>
          <a href="https://www.netlify.com/oreilly-jamstack/">
            Modern Web Development on the Jamstack (O'Reilly, 2022)
          </a>
        </li>
        <li>
          <a href="https://www.manning.com/books/hugo-in-action">
            Hugo in Action (Manning, 2022)
          </a>
        </li>
        <li>
          <a href="https://www.amazon.com/Gatsby-Definitive-Guide-Preston-So-ebook/dp/B09FX7YMFY/">
            Gatsby: The Definitive Guide (O'Reilly, 2021)
          </a>
        </li>
        <li>
          <a href="https://www.oreilly.com/library/view/working-with-static/9781491960936/">
            Working with Static Sites (O'Reilly, 2017)
          </a>
        </li>
      </ul>

      <h4>Podcast</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://www.heavybit.com/library/podcasts/jamstack-radio/">
            Jamstack Radio
          </a>
        </li>
      </ul>

      <h4>Newsletter</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://jamstack.email/">
            JAMstacked
          </a>
        </li>
        <li>
          <a href="https://astroweekly.dev/">
            Astro.js Weekly
          </a>
        </li>
        <li>
          <a href="https://nextjsweekly.com/">
            Next.js Weekly
          </a>
        </li>
      </ul>

      <h4>Report</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://www.netlify.com/blog/unveiling-the-state-of-web-development-and-predictions-for-2024-and-beyond/">
            Unveiling the state of web development and predictions for 2024 and beyond
          </a>
        </li>  
        <li>
          <a href="https://jamstack.org/survey/2022/">
            Jamstack Community Survey Results 2022
          </a>
        </li>  
        <li>
          <a href="https://www.netlify.com/blog/2020/05/27/state-of-the-jamstack-survey-2020-first-results/">
            The State of Jamstack 2020 Report
          </a>
        </li>
      </ul>
      <h4>Community</h4>
      <ul class="pl-0 text-neutral-400">
        <li>
          <a href="https://astro.build/chat">
            Astro.js community
          </a>
        </li>
        <li>
          <a href="https://jamstack.org/community/">
            Jamstack community
          </a>
        </li>
      </ul>
  </div>
</div>
