<div class="px-6 pt-16 pb-24 mb-16 bg-red-400 toc md:px-32">
  <h3 class="pb-12 text-xl">Table of contents</h3>
  <div class="text-2xl">
    <ol class="leading-normal toc">
      <li>
        <a href="#what-is-jamstack">What is Jamstack?</a>
        <ol class="pl-8">
          <li>
            <a href="#history">History</a>
          </li>
          <li>
            <a href="#meaning">Meaning</a>
          </li>
          <li>
            <a href="#benefits">Benefits</a>
          </li>
          <li>
            <a href="#best-practices">Best practices</a>
          </li>
          <li>
            <a href="#workflow">Workflow</a>
          </li>
          <li>
            <a href="#timeline">Timeline</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="#getting-started">Getting started</a>
        <ol class="pl-8">
          <li>
            <a href="#development">Development</a>
          </li><li>
            <a href="#deployment">Deployment</a>
          </li><li>
            <a href="#dynamic-parts">Dynamic parts</a>
          </li>
          <li>
            <a href="#cms">CMS</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="#resources">Resources</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
    </ol>
  </div>
</div>