<div class="max-w-3xl pt-24 pb-32 mx-6 dark md:mx-32">
  <h2 id="templates-to-start" class="pb-6 mb-12 text-3xl border-b-2 border-neutral-600">
    Templates to start
  </h2>
  <p class="md:text-2xl">
    Try Jamstack now. Create a new site with these templates in a few minutes on
    <a href="https://www.netlify.com/?ref=jamstack-wtf" class="underline hover:text-neutral-500">Netlify</a>.
  </p>
  <div class="grid gap-x-6 gap-y-20 xl:grid-cols-2">
    <article class="relative flex flex-col min-w-0 panel text-astro-gray-200">
      <img
        src="/templates/astro-platform-starter.jpg"
        alt="Astro on Netlify platform starter preview"
        class="object-cover w-full aspect-video"
        loading="lazy"
        decoding="async"
      />
      <div class="flex flex-col flex-1 gap-6 text-left">
        <div>
          <h3 class="pt-12 pb-6 text-xl font-bold">Astro on Netlify Platform Starter</h3>
          <p class="text-base">
            A modern starter based on Astro.js, Tailwind, daisyUI, and Netlify Core Primitives.
          </p>
          <a href="https://astro-platform-starter.netlify.app/" class="mr-2 text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Live demo</a>
          <a href="https://github.com/netlify-templates/astro-platform-starter" class="text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Source code</a>
        </div>
        <footer>
          <div class="flex items-center gap-2">
            <a
              href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-platform-starter"
              class="transition-transform hover:-translate-y-0.5"
              target="_blank"
              rel="noopener nofollow"
              ><img
                src="https://www.netlify.com/img/deploy/button.svg"
                alt="Deploy to Netlify Button"
                data-canonical-src="https://www.netlify.com/img/deploy/button.svg"
                style="max-width:100%"
              /></a
            >
          </div>
        </footer>
      </div>
    </article>

    <article class="relative flex flex-col min-w-0 panel text-astro-gray-200">
      <img
        src="/templates/next-platform-starter.jpg"
        alt="Next.js on Netlify platform starter preview"
        class="object-cover w-full aspect-video"
        loading="lazy"
        decoding="async"
      />
      <div class="flex flex-col flex-1 gap-6 text-left">
        <div>
          <h3 class="pt-12 pb-6 text-xl font-bold">Next on Netlify Platform Starter</h3>
          <p class="text-base">
            Modern starter based on Next.js 14 (App Router), Tailwind, daisyUI, and Netlify Core Primitives.
          </p>
          <a href="https://nextjs-platform-starter.netlify.app/" class="mr-2 text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Live demo</a>
          <a href="https://github.com/netlify-templates/next-platform-starter" class="text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Source code</a>
        </div>
        <footer>
          <div class="flex items-center gap-2">
            <a
              href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/next-platform-starter"
              class="transition-transform hover:-translate-y-0.5"
              target="_blank"
              rel="noopener nofollow"
              ><img
                src="https://www.netlify.com/img/deploy/button.svg"
                alt="Deploy to Netlify Button"
                data-canonical-src="https://www.netlify.com/img/deploy/button.svg"
                style="max-width:100%"
              /></a
            >
          </div>
        </footer>
      </div>
    </article>

    <article class="relative flex flex-col min-w-0 panel text-astro-gray-200">
      <img
        src="/templates/dante-astro.jpg"
        alt="Next.js on Netlify platform starter preview"
        class="object-cover w-full aspect-video"
        loading="lazy"
        decoding="async"
      />
      <div class="flex flex-col flex-1 gap-6 text-left">
        <div>
          <h3 class="pt-12 pb-6 text-xl font-bold">Dante - Astro & Tailwind CSS Template</h3>
          <p class="text-base">
            Dante, a single-author blog and portfolio template for Astro.js.
          </p>
          <a href="https://dante-astro-theme.netlify.app/" class="mr-2 text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Live demo</a>
          <a href="https://github.com/JustGoodUI/dante-astro-theme" class="text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Source code</a>
        </div>
        <footer>
          <div class="flex items-center gap-2">
            <a
              href="https://app.netlify.com/start/deploy?repository=https://github.com/JustGoodUI/dante-astro-theme"
              class="transition-transform hover:-translate-y-0.5"
              target="_blank"
              rel="noopener nofollow"
              ><img
                src="https://www.netlify.com/img/deploy/button.svg"
                alt="Deploy to Netlify Button"
                data-canonical-src="https://www.netlify.com/img/deploy/button.svg"
                style="max-width:100%"
              /></a
            >
          </div>
        </footer>
      </div>
    </article>

    <article class="relative flex flex-col min-w-0 panel text-astro-gray-200">
      <img
        src="/templates/astro-landing.jpg"
        alt="Next.js on Netlify platform starter preview"
        class="object-cover w-full aspect-video"
        loading="lazy"
        decoding="async"
      />
      <div class="flex flex-col flex-1 gap-6 text-left">
        <div>
          <h3 class="pt-12 pb-6 text-xl font-bold">Astro Landing Page Template</h3>
          <p class="text-base">
            An Astro + Tailwind CSS template for landing pages.
          </p>
          <a href="https://astro-moon-landing.netlify.app/" class="mr-2 text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Live demo</a>
          <a href="https://github.com/mhyfritz/astro-landing-page" class="text-base border-b border-neutral-500 hover:border-white text-neutral-500 hover:text-white">Source code</a>
        </div>
        <footer>
          <div class="flex items-center gap-2">
            <a
              href="https://app.netlify.com/start/deploy?repository=https://github.com/mhyfritz/astro-landing-page"
              class="transition-transform hover:-translate-y-0.5"
              target="_blank"
              rel="noopener nofollow"
              ><img
                src="https://www.netlify.com/img/deploy/button.svg"
                alt="Deploy to Netlify Button"
                data-canonical-src="https://www.netlify.com/img/deploy/button.svg"
                style="max-width:100%"
              /></a
            >
          </div>
        </footer>
      </div>
    </article>

  </div>
</div>
