<div class="px-8 mb-32 text-2xl md:px-16">
  <div class="p-8 mb-2 text-center bg-teal-300 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2015</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    Static sites are becoming popular due to the popularity of certain SSG such as Jekyll.
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-orange-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2016</h4>
  </div>

  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    A small group of developers believe that Static sites don't have to be
      static and the term "Jamstack" comes to life.
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-red-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2017</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    <span
      >The modern web revolution starts prioritising the importance of
      performance, scalability and developer experience. The term Jamstack
      starts to be adopted by a wider group of developers and the first
      enterprise Jamstack projects are announced.</span
    >
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-blue-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2018</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    <span
      >Tools like Netlify, Gatsby and Contentful have helped promote the term
      and the community is rapidly growing. This was also the year of the first
      Jamstack Conference.</span
    >
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-green-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2019</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    The year that Jamstack went mainstream. An explosion of new tools and
    services enter the market to support Jamstack sites.
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-yellow-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2020</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    "JAMstack" becomes "Jamstack" and brought with it a new brand for the
    community. ZEIT becomes Vercel and begins blurring the lines of what
    Jamstack really means as Next.js grows in popularity, largely due to its
    ability to combine server-side and static rendering in the same site.
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-purple-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2021</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    While Jamstack continues to expand, confusion about what it really means has
    become a common theme. And yet, tools like <a href="https://redwoodjs.com/"
      >RedwoodJS</a
    > and <a href="https://blitzjs.com/">Blitz.js</a> show us that Jamstack isn’t
    slowing down.
  </div>
  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-pink-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2022</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    Jamstack continues to grow. One of the significant releases this year was the beta version of <a class="border-b border-neutral-500" href="https://astro.build/blog/astro-1-beta-release/">Astro.js 1.0</a>.
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-indigo-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2023</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    During the <a class="border-b border-neutral-500" href="https://www.netlify.com/conference/">Compose</a> conference, Netlify introduced the <a class="border-b border-neutral-500" href="https://www.netlify.com/blog/introducing-the-netlify-composable-web-platform/">Composable Web Platform</a>.
  </div>
  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mb-2 text-center bg-rose-400 text-neutral-950 rounded-t-xl">
    <h4 class="pb-0 m-0">2024</h4>
  </div>
  <div class="p-8 text-center bg-white text-neutral-950 rounded-b-xl">
    A website dedicated to <a class="border-b border-neutral-500" href="https://thefutureofjamstack.org/">the future of Jamstack</a> has been launched. This site is a collective journey back to the core principles of <strong>simplicity</strong>, <strong>security</strong> and <strong>scalability</strong>.
  </div>
</div>