<div class="px-8 md:px-16 text-2xl">
  <div class="bg-teal-300 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2015</h4>
  </div>
  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    Static sites are becoming popular due to the popularity of certain SSG such as Jekyll.
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-orange-400 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2016</h4>
  </div>

  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    A small group of developers believe that Static sites don't have to be
      static and the term "Jamstack" comes to life.
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-red-400 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2017</h4>
  </div>
  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    <span
      >The modern web revolution starts prioritising the importance of
      performance, scalability and developer experience. The term Jamstack
      starts to be adopted by a wider group of developers and the first
      enterprise Jamstack projects are announced.</span
    >
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-blue-400 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2018</h4>
  </div>
  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    <span
      >Tools like Netlify, Gatsby and Contentful have helped promote the term
      and the community is rapidly growing. This was also the year of the first
      Jamstack Conference.</span
    >
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-green-400 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2019</h4>
  </div>
  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    The year that Jamstack went mainstream. An explosion of new tools and
    services enter the market to support Jamstack sites.
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-yellow-400 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2020</h4>
  </div>
  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    "JAMstack" becomes "Jamstack" and brought with it a new brand for the
    community. ZEIT becomes Vercel and begins blurring the lines of what
    Jamstack really means as Next.js grows in popularity, largely due to its
    ability to combine server-side and static rendering in the same site.
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-purple-400 text-neutral-950 p-8 rounded-t-xl text-center mb-2">
    <h4 class="m-0 pb-0">2021</h4>
  </div>
  <div class="bg-white text-neutral-950 p-8 rounded-b-xl text-center">
    While Jamstack continues to expand, confusion about what it really means has
    become a common theme. And yet, tools like <a href="https://redwoodjs.com/"
      >RedwoodJS</a
    > and <a href="https://blitzjs.com/">Blitz.js</a> show us that Jamstack isn’t
    slowing down.
  </div>
</div>
