<div class="px-16 text-2xl">

  <div class="bg-teal-300 text-neutral-950 p-8 rounded-xl text-center">
    <span>Develop</span>
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="border-2 border-white p-8 rounded-xl text-center mx-auto">
    Version Control
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-orange-400 text-neutral-950 p-8 rounded-xl text-center">
    <span>Automated build</span>
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="border-2 border-white p-8 rounded-xl text-center mx-auto">
    <span>Static assets</span>
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="border-2 border-white p-8 rounded-xl text-center mx-auto">
    <span>Atomic deploy</span>
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="border-2 border-white p-8 rounded-xl text-center mx-auto">
    <span>Pre-render &amp; invalidate cache</span>
  </div>

  <div class="bg-white w-1 py-6 mx-auto"></div>

  <div class="bg-red-400 text-neutral-950 p-8 rounded-xl text-center">
    <span>Update CDN</span>
  </div>
  
</div>
