<div class="px-16 text-2xl">

  <div class="p-8 text-center bg-teal-300 text-neutral-950 rounded-xl">
    <span>Develop</span>
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mx-auto text-center border-2 border-white rounded-xl">
    Version Control
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 text-center bg-orange-400 text-neutral-950 rounded-xl">
    <span>Automated build</span>
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mx-auto text-center border-2 border-white rounded-xl">
    <span>Static assets</span>
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mx-auto text-center border-2 border-white rounded-xl">
    <span>Atomic deploy</span>
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 mx-auto text-center border-2 border-white rounded-xl">
    <span>Pre-render &amp; invalidate cache</span>
  </div>

  <div class="w-1 py-6 mx-auto bg-white"></div>

  <div class="p-8 text-center bg-red-400 text-neutral-950 rounded-xl">
    <span>Update CDN</span>
  </div>
  
</div>
